* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(78, 78, 78);
    font-size: 0.75rem;
}

/* aside {
    box-shadow: 10px;
} */
.avatar-pic img {
    width: 200px;
    height: 200px;
}

.one, .two, .three {
    float: left;
    padding: 20px;

}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* .three:before {
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    left: 525px;
    z-index: 1;
} */

ul>li {
    list-style: none;
    display: inline;
    margin: 20px auto;
    padding: 10px 20px 10px 20px;
}

li:first-child, ul {
    margin-left: 0;
    padding-left: 0;
}

ul {
    margin-left: 5px;
}

.fab {
    color:  rgba(63, 113, 187, 0.897);
    font-size: 1rem;
}

.form {
    position: relative;
    width: 250px;
    padding: 10px;
}

.form__select {
    width: 100%;
    height: 50px;
    background-color: rgba(63, 113, 187, 0.897);
    border-radius: 5px;
    position: relative;
    right: 7px;
}

/* делаем полоску: */
.form__select:before {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    background-color: #fff;

    pointer-events: none;

    position: absolute;
    right: 50px;
    z-index: 1;
}

/* делаем стрелочку: */
.form__select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;

    pointer-events: none;
    
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}

/* стилизуем стандартный select:  */
.form__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 11px;
    color: white;
    position: absolute;
    padding-left: 40px;
}

.form__select select:focus {
    outline: none;
}

.form__select:hover {
    cursor: pointer;
}

.font-24 {
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 5px;
}

.font-16 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 25px;
}

.font-20 {
    font-size: 1.25rem;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding-bottom: 10px;
}

td {
    padding-left: 15px;
}

@media screen and (min-width: 480px) and (max-width: 500px) {
    .avatar-pic img {
        width: 120px;
        height: 120px;
    }

    .font-24 {
        font-size: 1.1rem;
        margin-top: 0;
    }

    .font-16 {
        font-size: 0.7rem;
    }

    .font-20 {
        font-size: 0.9rem;
        margin-top: 0;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .avatar-pic img {
        width: 150px;
        height: 150px;
    }

    .font-24 {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .font-16 {
        font-size: 0.8rem;
    }

    .font-20 {
        font-size: 1rem;
        margin-top: 0;
    }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
    .avatar-pic img {
        width: 120px;
        height: 120px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .font-24 {
        font-size: 1.1rem;
        margin-top: 0;
    }

    .font-16 {
        font-size: 0.7rem;
    }

    .font-20 {
        font-size: 0.9rem;
        margin-top: 0;
    }

    .form__select {
        width: 100%;
        height: 40px;
        background-color: rgba(63, 113, 187, 0.897);
        border-radius: 5px;
        position: relative;
        right: 7px;
    }
    
    /* делаем полоску: */
    .form__select:before {
        content: "";
        display: block;
        width: 1px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        right: 50px;
        z-index: 1;
    }
    
    /* делаем стрелочку: */
    .form__select:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
    }
    
    /* стилизуем стандартный select:  */
    .form__select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 10px;
        color: white;
        position: absolute;
        padding-left: 40px;
    }
    
    .form__select select:focus {
        outline: none;
    }
    
    .form__select:hover {
        cursor: pointer;
    }

    .two {
        padding-right: 0;
        padding-left: 0; 
    }
}

@media screen and (min-width: 750px) and (max-width: 770px) {
    .three {
        padding: 25px 70px; 
    }
    
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    .font-24 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .font-16 {
        font-size: 1rem;
    }

    .font-20 {
        font-size: 1.2rem;
        margin-top: 0;
    }
}

@media screen and (min-width: 900px) {
    .three:before {
        content: "";
        display: block;
        width: 1px;
        height: 200px;
        background-color: #ccc;
        position: absolute;
        left: 525px;
        z-index: 1;
    }
}
